<div class="container">
    <div *ngIf="allscores.length>0; else elseBlock">
      <div class="row d-flex justify-content-around">
        <div *ngIf="allscores =='Blocked for 15 minutes' else elseCard">
            <div class="card col-md-12 card-space text-center">
              <!-- <img class="card-img-top" src="https://g.cricapi.com/iapi/4191-638101639309122979.webp?w=48" alt="Card image cap"> -->
              <div class="card-body">
                <small>{{allscores}}</small>
              </div>
          </div>
        </div>
    </div>

      <ng-template #elseCard>
        <div class="row d-flex justify-content-around">
            <div class="card col-md-3 card-space" *ngFor="let item of allscores">
              <!-- <img class="card-img-top" src="https://g.cricapi.com/iapi/4191-638101639309122979.webp?w=48" alt="Card image cap"> -->
              <div routerLink="/mainpage/mainpagedetail/{{item.id}}" class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.status}}</p>
                <small>{{item.venue}}</small>
              </div>
          </div>
        </div>
      </ng-template> 
    </div>

      <ng-template #elseBlock>
         <div class="d-flex justify-content-center mt-4">No Data Available</div>
    </ng-template>
    </div>

    
