<div class="container">
  <div class="row button-group">
    <div class="col-md-4 col-sm-12 mb-3">
      <button type="button" class="btn btn-danger btn-lg active" role="button" aria-pressed="true" (click)="getScoreDetails('live')">
        <i class="fas fa-broadcast-tower"></i> Live Match
      </button>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <button type="button" class="btn btn-dark btn-lg active" role="button" aria-pressed="true" (click)="getScoreDetails('result')">
        <i class="fas fa-flag-checkered"></i> Match Ended
      </button>
    </div>
    <div class="col-md-4 col-sm-12 mb-3">
      <button type="button" class="btn btn-success btn-lg active" role="button" aria-pressed="true" (click)="getScoreDetails('fixtures')">
        <i class="fas fa-calendar-alt"></i> Upcoming
      </button>
    </div>
  </div>

  <div *ngIf="products.length > 0; else elseBlock">
    <div *ngIf="products == 'hits today exceeded hits limit'; else elseCard">
      <div class="alert alert-warning text-center">
        <small>{{products}}</small>
      </div>
    </div>
  </div>

  <ng-template #elseCard>
    <div class="fixture-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Status</th>
            <th>Match Overview</th>
            <th>Teams</th>
            <th>Timings</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products;">
            <td>{{item.matchType | uppercase}}</td>
            <td>{{item.ms}}</td>
            <td>{{item.status}}</td>
            <td>{{item.t1}} VS {{item.t2}}</td>
            <td>{{item.dateTimeGMT | date:'fullDate' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>

  <ng-template #elseBlock>
    <div class="d-flex justify-content-center mt-4">Click any button to load data</div>
  </ng-template>
</div>
