.match-details{
margin-top: 20px;
}

.back-button{
    margin-top: 10px;
}
.match-date{
padding-left: 10px;
}
.Matchcard-title {
    height: 50px;
    background-color: #8a8178;
    color: white;
    font-weight: 700;
}
.card{
    margin-top: 20px;
    background-color: orange; 
}
.card-body{
    background-color: #8a8178;
}
 .firstInnings {
    float: left;
}
.firstInningsScore {
    float: right;
}
.secondInnings{
    float: left; 
}
.secondInningsScore{
    float: right;
} 
.match-status{
    margin-top: 20px;
    height: 20px;
    color: #33a8d6;
    font-weight: 400;
}